<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dks.cipher">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AppActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".activities.MainActivity1" />
        <activity
            android:theme="@style/AppTheme.NoActionBar"
            android:name=".activities.InscriptionActivity" />
        <activity
            android:name=".activities.DetailActivityPublication"
            android:label="@string/title_activity_detail_publication"
            android:parentActivityName=".activities.MainActivity1" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity1" />

        </activity>
        <activity
            android:label="@string/title_activity_add_publication"
            android:name=".activities.AddPublicationActivity"
            android:parentActivityName=".activities.MainActivity1">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity1" />

        </activity>
    </application>

    <!--<application-->
        <!--android:name=".app.AppController"-->
        <!--android:allowBackup="true"-->
        <!--android:icon="@mipmap/ic_launcher"-->
        <!--android:label="@string/app_name"-->
        <!--android:supportsRtl="true"-->
        <!--android:theme="@style/AppTheme1">-->
        <!--&lt;!&ndash;<activity android:name=".activities.MainActivity1">&ndash;&gt;-->
        <!--<activity android:name=".activities.MainActivity1">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity-->
            <!--android:theme="@style/AppTheme"-->
            <!--android:name=".activities.DetailActivityPublication" />-->
        <!--<activity-->
            <!--android:theme="@style/AppTheme"-->
            <!--android:name=".activities.AddPublicationActivity" />-->
    <!--</application>-->

</manifest>